<!DOCTYPE html>

<html>
    <head>
        <title>404</title>
        <link rel="icon" href="/img/weather.png">
        <link rels="stylesheet" href="/css/styels.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            {{errorMessage}}
        </div>
        {{>footer}}
    </body>
</html>